<div class="row justify-content-md-center">
  <div class="col-8">
    <div class="card mb-4">
      <h5 class="card-header"><%= locals[:title] %></h5>
        <%= form_for @car do |f| %>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="row form-group">
                <div class="col">
                  <label>Year</label>
                  <%= f.select :year, years_select_option, {}, { class: 'form-control custom-select' } %>
                </div>
                <div class="col">
                  <label>Brand</label>
                  <%= f.select :brand, enums_to_select_option(Car.brands), {}, { class: 'form-control custom-select' } %>
                </div>
                <div class="col">
                  <label>Model</label>
                  <%= f.select :model, enums_to_select_option(Car.models), {}, { class: 'form-control custom-select' } %>
                </div>
              </div>
              <div class="row form-group">
                <div class="col">
                  <label>Energy</label>
                  <%= f.select :energy, enums_to_select_option(Car.energies), {}, { class: 'form-control custom-select' } %>
                </div>
                <div class="col">
                  <label>Number of doors</label>
                  <%= f.select :doors, [3,5], {}, { class: 'form-control' } %>
                </div>
                <div class="col">
                  <label>Transmission</label>
                  <%= f.select :transmission, enums_to_select_option(Car.transmissions), {}, { class: 'form-control custom-select' } %>
                </div>
              </div>
              <div class="row form-group">
                <div class="col">
                  <label>Category</label>
                  <%= f.select :category, enums_to_select_option(Car.categories), {}, { class: 'form-control custom-select' } %>
                </div>
                <div class="col">
                  <label>Mileage</label>
                  <%= f.select :mileage, enums_to_select_option(Car.mileages), {}, { class: 'form-control custom-select', placeholder: 'Brand' } %>
                </div>
                <div class="col">
                  <label>Price</label>
                  <%= f.number_field :price, class: 'form-control', placeholder: 'Price' %>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row form-group">
                <div class="col">
                  <div class="form-group">
                    <label>Street</label>
                    <%= f.text_field :street, class: 'form-control', placeholder: 'Street' %>
                  </div>
                </div>
                <div class="col">
                  <label>City</label>
                  <%= f.text_field :city, class: 'form-control', placeholder: 'City' %>
                </div>
                <div class="col">
                  <label>Postal code</label>
                  <%= f.text_field :postal_code, class: 'form-control', placeholder: 'Postal code' %>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="form-group">
                <label>Description</label>
                <%= f.text_area :description, class: 'form-control', placeholder: 'Describe your car', rows: 5 %>
              </div>
            </li>
            <li class="list-group-item">
              <div class="form-group">
                <label>Image</label><br>
                <%= f.file_field :image, direct_upload: true %>
              </div>
            </li>
            <li class="list-group-item">
              <div class="form-group">
                <%= f.submit locals[:button_name], class: 'btn btn-primary submit-car-form' %>
              </div>
            </li>
          </ul>
        <% end %>
    </div>
  </div>
</div>
