<div class="card p-4 w-100 bg-light">
  <%= form_for @car, url: cars_path, method: :get do |f| %>
    <div class="form-row align-items-center">
      <%= f.fields_for :rental  do |ff| %>
      <div class="col-auto">
        <label>Start at</label>
        <%= ff.date_field :start_at, {class: 'form-control custom-select', min: Time.now} %>
      </div>
      <div class="col-auto">
        <label>End at</label>
        <%= ff.date_field :end_at, {class: 'form-control custom-select', min: Time.now} %>
      </div>
      <% end %>
      <div class="col-auto">
        <label>Address</label>
        <%= f.text_field :address, {class: 'form-control', placeholder: 'Address'} %>
      </div>
      <div class="col-auto">
        <label>Radius</label>
        <%= f.select :radius, [2, 5, 10, 20], {}, {class: 'form-control custom-select'} %>
      </div>
      <div class="col-auto">
        <label>Brand</label>
        <%= f.select :brand, enums_to_select_option(Car.brands, placeholder: 'Brand'), {}, { class: 'form-control custom-select' } %>
      </div>
      <!-- <div class="col-auto">
        <label>Model</label>
        <%= f.select :model, enums_to_select_option(Car.models, placeholder: 'Models'), {}, { class: 'form-control custom-select' } %>
      </div>
      <div class="col-auto">
        <%= f.select :year, years_select_option(placeholder: 'Year'), {}, { class: 'form-control custom-select' } %>
      </div> -->
      <div class="col-auto pt-1">
        <br>
        <%= f.submit 'Search', class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>

</div>
