<div class="row justify-content-md-center">
  <div class="col-3">
    <%= render 'thumbnail', rental: @rental %>
  </div>
  <div class="col-7">
    <div class="card">
      <h5 class="card-header"><%= @rental.car.title %></h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Form: <%= @rental.start_at.strftime("%B %d, %Y") %></li>
        <li class="list-group-item">To: <%= @rental.end_at.strftime("%B %d, %Y") %></li>
        <li class="list-group-item">Price: <%= @rental.amount %>$</li>
      </ul>
      <div class="card-body mb-4">
        <div class="mt-2 mb-4">
          <p><%= @rental.car.description %></p>
        </div>
        <%= render 'cars/partials/technical_spec', car: @rental.car %>
        <%= render 'users/partials/owner_overview', owner: @rental.car.user %>
      </div>
    </div>
  </div>
</div>
