<div class="row justify-content-md-center">
  <div class="col-6">
    <div class="card">
      <h5 class="card-header">Edit profile</h5>
      <div class="card-body">
        <%= form_for current_user do |f| %>
          <div class="row form-group">
            <div class="col">
              <%= f.text_field :first_name, class: 'form-control', placeholder: 'First name' %>
            </div>
            <div class="col">
              <%= f.text_field :last_name, class: 'form-control', placeholder: 'Last name' %>
            </div>
          </div>
          <div class="form-group">
            <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
          </div>
          <div class="form-group">
            <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
          </div>
          <%= f.submit 'Update', class: 'btn btn-primary submit-user-edit' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
