<%= form_for Car.new, url: cars_path, method: :get do |f| %>
    <div class="form-row align-items-center">
      <div class="col-auto my-1">
        <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
        <%= f.select :brand, enums_to_select_option(Car.brands, placeholder: 'Brand'), {}, {class: 'form-control custom-select', placeholder: 'Brand'} %>
      </div>
      <div class="col-auto my-1">
        <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
        <%= f.select :model, enums_to_select_option(Car.models, placeholder: 'Models'), {}, {class: 'form-control custom-select', placeholder: 'Brand'} %>
      </div>
      <div class="col-auto my-1">
        <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
        <%= f.select :year, years_select_option(placeholder: 'Year'), {}, {class: 'form-control custom-select', placeholder: 'Brand'} %>
      </div>
      <div class="col-auto my-1">
        <%= f.submit 'Search', class: 'btn btn-primary' %>
      </div>
    </div>
<% end %>
