<nav class="navbar navbar-expand-lg navbar-light text-light bg-dark mb-3">
  <a class="navbar-brand text-light" href="/">Tutur</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item"><%= link_to 'Cars', cars_path, class: 'nav-link text-light' %></li>
      <% if logged_in? %>
        <li class="nav-item"><%= link_to 'Rent my car', new_car_path, class: 'nav-link text-light' %></li>
        <li class="nav-item"><%= link_to 'My rentals', rentals_path, class: 'nav-link text-light' %></li>
        <% if current_user.cars %>
          <li class="nav-item"><%= link_to 'My cars', user_cars_path, class: 'nav-link text-light' %></li>
          <li class="nav-item"><%= link_to 'Rentals of my cars', user_rentals_path, class: 'nav-link text-light' %></li>
        <% end %>
        <li class="nav-item"><%= link_to 'Edit profile', edit_user_path, class: 'nav-link text-light' %></li>
        <li class="nav-item"><%= link_to 'Sign out', sessions_path, method: :delete, class: 'nav-link text-light' %></li>
      <% else %>
        <li class="nav-item"><%= link_to 'Sign in', new_sessions_path, class: 'nav-link text-light' %></li>
        <li class="nav-item"><%= link_to 'Sign up', new_users_path, class: 'nav-link text-light' %></li>
      <% end %>
    </ul>
  </div>
</nav>
